{% extends './base.html' %}
{% load static%}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
<script src="{% static 'polls/js/product.js' %}"></script>
<script src="https://use.fontawesome.com/3fa7a2df95.js"></script>
{% endblock %}
    {% block products %}
        <div class="category-block">
                <div class="category-block__items">
                    {% for category in catalog.category_set.all %}
                        <a href ="{% url 'polls:category' category.id %}" class="category-block__item">
                            <img src="/media/{{category.category_image}}" alt="" class="category-block__item-image">
                            <h5 class="category-block__item-text">{{ category.category_name }}</h5>
                        </a>
                    {% endfor %}
                </div>
        </div>
    {% endblock %}
</div>