

{% extends './base.html' %}

{% load static%}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
<script src="{% static 'polls/js/product.js' %}"></script>
<script src="https://use.fontawesome.com/3fa7a2df95.js"></script>
{% endblock %}


{%block products %}
<div class="products-best" >
    {% for product in BestProducts %}
        <div class="product-best" id="{{product.id}}">
            <div class="product-best__image-wrappep">
                <img src="/media/{{product.product_image}}" alt="" class="product-best__image">
            </div>
            <div class="product-best__text">
                <a href="{% url 'polls:product' product.id  %}" >
                    <h2 class="product-best__text-title">
                        {{product.product_title}}
                    </h2>
                </a>
            </div>
            <div class="product-best__price">
                    <b class="product-best__price-text">
                        {{product.product_price}}
                    </b>
                    <i class="product-best__price-icon fa fa-rub" aria-hidden="true"></i>
            </div>
            <div class="product-best__buttons">
                <div id="{{product.id}}" class="product-best__button-buy">Купить</div>
                <a href="/polls/order/" class="product-best__basket-link">Корзина</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

